<form method="get" action="/companies">
 会社名：<input type="text" name="company_name" /><br />
 <input type="submit" value="送信" />
</form>

<!-- flashメッセージを表示 -->
<% flash.each do |msg| %>
<p><%= msg %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Limit</th>
      <th>Work</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |t| %>
    <tr>
      <td><%= t.name %></td>
      <td><%= t.state %></td>
      <td><%= t.limit_date %></td>
      <td><%= t.work_description %></td>
      <td>
        <!-- 次のタスク詳細取得画面へのリンク -->
        <a href="/companys/:id/<%= t.id %>">edit</a>
      </td>
      <td>
         <form method="POST" action="/tasks/<%= t.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <button type="submit">delete</button>
         </form>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
