<div class="row">
  <div class="col-6">
    <%= form_with(model: business_statue, local: true) do |f| %>
      <% if business_statue.errors.any? %>
        <div id="error_explanation" class="alert alert-warning">
          <ul class="mb-0">
            <% business_statue.errors.full_business_statues.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :customer, '会社名' %>
        <%= f.text_field :customer, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :business, '業務内容' %>
        <%= f.text_field :business, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :date, '処理期限日' %>
        <%= f.text_field :date, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :situation, '状況' %>
        <%= f.select :situation, {'未着手': 1, '作成済み': 2, '提出済み': 3}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
      </div>
      <div class="form-group">
        <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to '業務内容・状況一覧に戻る', "/business_statues", class: "btn btn-primary" %>