<h2>業務内容・状況一覧</h2>

<% if @business_statues.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>会社名</th>
        <th>業務内容</th>
        <th>処理期限日</th>
      </tr>
    </thead>
    <tbody>
      <% @business_statues.each do |business_statue| %>
        <tr>
          <td><%= link_to "/business_statues/#{business_statue.id}", "/business_statuses/#{business_statue.id}" %></td>
          <td><%= business_statue.customer %></td>
          <td><%= business_statue.business %></td>
          <td><%= business_statue.date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @business_statues %>
  </div>
<% end %>

<%= link_to '業務内容・状況　新規登録', business_statues_new_path, class: "btn btn-primary" %>