<h2>業務内容・状況一覧</h2>
<%= link_to '処理期限日順', business_statues_path(sort: :date), class: "btn btn-primary" %>
<%= link_to '状況順', business_statues_path(sort: :situation), class: "btn btn-primary" %>


<% if @business_statues.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>会社名</th>
        <th>業務内容</th>
        <th>処理期限日</th>
        <th>状況</th>
      </tr>
    </thead>
    <tbody>
      <% @business_statues.each do |business_statue| %>
        <tr>
          <td><%= link_to "#{business_statue.id}", "/business_statues/#{business_statue.id}" %></td>
          <td><%= business_statue.customer %></td>
          <td><%= business_statue.business %></td>
          <td><%= business_statue.date %></td>
          <%- if business_statue.situation.to_s.include?('Not started yet') %>
                <td style="color: red"><%= business_statue.situation %></td>
          <% else %>
                <td><%= business_statue.situation %></td>
          <% end %>
          
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @business_statues %>
  </div>
<% end %>

<%= link_to '業務内容・状況　新規登録', business_statues_new_path, class: "btn btn-primary" %>